<head>
    <meta charset="utf-8">
    <title>WASM Test</title>
    <script src="wasm_exec.js"></script>
    <script>
        if (!WebAssembly.instantiateStreaming) { // polyfill
            WebAssembly.instantiateStreaming = async (resp, importObject) => {
                const source = await (await resp).arrayBuffer();
                return await WebAssembly.instantiate(source, importObject);
            };
        }
        const go = new Go();
        let mod, inst;
        WebAssembly.instantiateStreaming(fetch("bundle.wasm"), go.importObject).then((result) => {
            mod = result.module;
            inst = result.instance;
            run().then((result) => {
                console.log("Ran WASM: ", result)
            }, (failure) => {
                console.log("Failed to run WASM: ", failure)
            })
        });
        async function run() {
            console.clear();
            await go.run(inst);
            inst = await WebAssembly.instantiate(mod, go.importObject); // reset instance
        }
    </script>
</head>

<body></body>

</html>